{% extends "base.html" %}
{% load i18n %}
{% load account %}

{% block content %}
<body class="bg-dark">
<section class="section-padding">
    <div class="container form_container">
        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="row justify-content-center text-center form_row content-center">
                <div class="col-md-12 text-center">
                    <h2>Login</h2>
                </div>
                <div class="col-md-12 text-center">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
                </div>
                <div class="col-md-12 text-center">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light" data-mdb-ripple-color="dark">Submit</button>
                </div>
                <div class="col-md-12 text-center text-white">
                    <a href="{% url 'account_signup' %}">Not a member, click here to register!</a>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
{% endblock %}
