{% extends "base.html" %}

{% block content %}

<!-- Carousel / Main Section -->
<div id="carouselimages" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselimages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselimages" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselimages" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/images/restaurantview.png" class="d-block w-100" alt="Michelangelo restaurant with tables and chairs arranged for a dinner setting">
        <div class="carousel-caption d-none d-md-block">
          <h5>A Fine Dining Experience</h5>
          <p>Step into an unforgettable fine dining journey.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/images/dish1.png" class="d-block w-100" alt="A table set with a plate of food and a glass of wine">
        <div class="carousel-caption d-none d-md-block">
          <h5>Fresh Ingredients.</h5>
          <p>We believe in using only the freshest ingredients sourced locally.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/images/dish2.png" class="d-block w-100" alt="A delicious meal consisting of a mix of vegetables and meat on a plate">
        <div class="carousel-caption d-none d-md-block">
          <h5>Eat and Enjoy</h5>
          <p>Food so good, you’ll forget the rest.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselimages" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselimages" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- About Me Section -->
  <section class="about section-padding" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-12 ps-lg-5 mt-md-5">
          <div class="about-img">
            <img alt="" class="img-fluid" src="static/images/preview.png">
          </div>
        </div>
        <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
          <div class="about-text text-center text-sm-left text-md-start">
            <h2>About Us</h2>
            <p>
              Our prestige, passion, pedigree, professionalism, experience and expertise in running award-winning restaurants will transport you on a journey to a new dining experience.
            </p>
            <p>
              A journey that will stir your imagination and fill your senses, bringing you the flavours and heady aromas that the diverse cuisines of the Mediterranean region has to offer.
            </p>
            <h3>Opening Hours</h3>
            <p>Monday: Closed</p>
            <p>Tuesday: Closed</p>
            <p>Wednesday to Sunday: 2:00 PM - 10:00 PM (Bookings until 8:00 PM)</p>
            <div class="text-center text-sm-left text-md-start">
              <a class="check-menu-button btn btn-warning" href="{% url 'menu' %}">Check out our menu!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Review Section -->
  <section class="reviews">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-xl-8 text-center">
                <h3 class="mb-4">Hear from our Guests</h3>
                <p class="mb-4 pb-2 mb-md-5 pb-md-0 py-0 text-muted">
                    Check out the newest reviews from our guests!
                </p>
            </div>
        </div>

        <div class="row text-center">
            {% for review in reviews %}
                <div class="col-md-4 mb-0 mb-md-0">
                    <div class="d-flex justify-content-center mb-4">
                        <img src="static/images/default.png"
                        class="rounded-circle shadow-1-strong" width="150" height="150" />
                    </div>
                    <h5 class="mb-3">{{ review.user.username }}</h5>
                    <p class="px-xl-3">
                        <i class="fas fa-quote-left pe-2"></i>{{ review.comment }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
  </section>


{% endblock %}
