@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* Base Template Styles */
* {
    font-family: "Inter", sans-serif;
}

body {
    padding-top: 40px;
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

/* Navbar Styles */
.navbar.fixed-top {
    background-color: #f8f9fa;
}

.navbar-brand {
    color: #343a40;
}

.nav-link {
    color: #343a40;
}

.button-nav-booking .btn {
    background-color: #f8f9fa;
    color: #343a40;
    border: 1px solid #343a40;
}

.messages {
    color: #fff;
}

.alert {
    background-color: #333;
    color: #fff;
}

#id_special_occasion, #id_meal_day, #id_meal_time, #id_number_of_guests, #id_customer_name, #id_submit_button {
    background-color: #333;
    color: #fff; 
    border: 1px solid #333; 
}

.form_container {
    border: solid white 8px;
}

.error_message_notes {
    background-color: #333;
    color: #fff;
}

/* Footer Styles */
.footer {
    background-color: #f8f9fa;
    margin-top: auto;
    flex-shrink: 0;
}

.footer h3, .footer p, .footer a {
    color: #343a40;
}

.footer .btn-floating {
    color: #343a40;
}

.footer .btn-floating:hover {
    color: #f8f9fa;
    background-color: #343a40;
}

.footer .btn-floating i {
    color: #343a40;
}

.footer .btn-floating:hover i {
    color: #f8f9fa;
}

.footer .fas {
    color: #343a40;
}

.footer .fas:hover {
    color: #f8f9fa;
}

/* Index Styles */

.carousel-item img {
    max-height: 750px;
    width: auto;
    object-fit: cover;
}

.about-text, .reviews {
    color: black;
}

.section-padding {
    padding: 50px 0;
}

.check-menu-button {
    border: solid 2px #343a40;
    height: 150%
}

/* Menu Styles */

#menu {
    background-color: #7ebfbb;
    color: #fff;
}

.section-padding {
    padding: 50px 0;
}

.section-padding-menu {
    padding: 100px;
    margin-bottom: 0;
}

.section-title-menu {
    padding-top: 40px;
}

.menu .menu-item {
    margin-top: 50px;
}
  
.menu .menu-img {
    width: 70px;
    border-radius: 50%;
    float: left;
    border: 5px solid rgba(255, 255, 255, 0.2);
}
  
.menu .menu-dishes {
    margin-left: 85px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.fas.fa-leaf {
    color: green;
    margin-left: 5px;
}

.fas.fa-seedling {
    color: green;
    margin-left: 5px;
}

.section-title-menu h4 {
    color: #fff;
}

.menu .menu-dishes span {
    color: #fff;
}


.menu .menu-dishes span {
    position: relative;
    z-index: 3;
    padding: 0 10px;
    font-weight: 600;
    color: #fff;
}
  
.menu .menu-desc {
    margin-left: 85px;
    font-style: italic;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

.fas.fa-leaf {
    color: green;
    margin-right: 5px;
}

.fas.fa-seedling {
    color: green;
    margin-right: 5px;
}

/* Login Page */

#logincard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    margin-bottom: 50%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form .btn-primary {
    background-color: rgb(49, 165, 49);
    border-color: rgb(58, 58, 58);
}

/* Media Queries */
@media only screen and (min-width: 576px) {
    .underline-navbar::after {
        content: '';
        padding:0;
        opacity: 0;
        height: 2px;
        width: 100%;
        background-color: #343a40;
        display: block;
        transition: opacity 0.2s;
    }
    
    .underline-navbar:hover::after {
        opacity: 1;
    }
}
