{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- Create Booking Form -->
<main class="cb-content">
<section class="section-padding custom-margin-bottom d-flex align-items-center">
    <form method="post" action="{% url 'create_booking' %}">
        {% csrf_token %}
        <h2>Create your booking here!</h2>
        <label for="id_special_occasion">Special Occasion:</label>
        {{ form.special_occasion }}
        <label for="id_meal_day">Meal Day:</label>
        {{ form.meal_day }}
        <br>
        <label for="id_meal_time">Meal Time:</label>
        {{ form.meal_time }}
        <br>
        <label for="id_number_of_guests">Number of Guests:</label>
        {{ form.number_of_guests }}
        <label for="id_customer_name">Customer Name:</label>
        {{ form.customer_name }}
        <label for="id_customer_name">Is booked:</label>
        {{ form.is_booked }}


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>
</main>

<!-- Date Picker Script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}