{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block content %}

<h2>Edit Booking</h2>

<!-- Edit Booking Form -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save changes</button>
</form>

{% endblock %}

{% block js %}
<!-- Date Picker Script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    // Ensure meal_day is on/after today
    let today = new Date().toISOString().split("T")[0];
    $("#id_meal_day").prop("min", today);
    $("#id_meal_day").datepicker({
        dateFormat: "yy-mm-dd",
        minDate: 0
    }).on("focus", function() {
        $(this).datepicker("show");
    });
</script>
{% endblock %}