{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block content %}

<!-- Edit Booking Form -->
<main class="cb-content">
<section class="section-padding custom-margin-bottom d-flex align-items-center">
    <form method="post">
        {% csrf_token %}
        <h2>Edit your booking here!</h2>
        <label for="id_special_occasion">Special Occasion:</label>
        {{ form.special_occasion }}
        <label for="id_meal_day">Meal Day:</label>
        {{ form.meal_day }}
        <br>
        <label for="id_meal_time">Meal Time:</label>
        {{ form.meal_time }}
        <br>
        <label for="id_number_of_guests">Number of Guests:</label>
        {{ form.number_of_guests }}
        <label for="id_customer_name">Customer Name:</label>
        {{ form.customer_name }}
        <label for="id_customer_name"></label>
        {{ form.is_booked }}

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</section>
</main>

{% endblock %}

{% block js %}
<!-- Date Picker Script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    // Ensure meal_day is on/after today
    let today = new Date().toISOString().split("T")[0];
    $("#id_meal_day").prop("min", today);
    $("#id_meal_day").datepicker({
        dateFormat: "yy-mm-dd",
        minDate: 0
    }).on("focus", function() {
        $(this).datepicker("show");
    });
</script>
{% endblock %}
