{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="booking-content">
    <section class="form_create_booking_section">
        <div class="container form_container text-center">
            <h2 class="mb-3">Your Bookings</h2>

            {% if bookings %}
            <ul class="list-unstyled">
                {% for booking in bookings %}
                <li class="booking-item">
                    <div class="container form_container text-center">
                        <div class="col-md-12">
                            <h3>Booking for {{ booking.customer_name }}</h3>
                            <p>Special Occasion: {{ booking.special_occasion }}</p>
                            <p>Meal Day: {{ booking.meal_day }}</p>
                            <p>Meal Time: {{ booking.meal_time }}</p>
                            <p>Number of Guests: {{ booking.number_of_guests }}</p>
                            <a href="{% url 'edit_booking' booking.id %}" id="editButton" class="btn btn-primary">Edit</a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{booking.id}}">Delete</button>                   
                            <div class="modal fade" id="deleteModal{{booking.id}}" tabindex="-1" aria-labelledby="deleteModalLabel{{booking.id}}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel{{booking.id}}">Confirm Delete</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this booking?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <a href="{% url 'delete_booking' booking.id %}" class="btn btn-danger">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>You have no bookings.</p>
            {% endif %}
            <h2 class="text-center">Want to leave a review?</h2>
            <form method="post" class="text-left">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Submit review</button>
            </form>        
        </div>
    </section>
</div>

{% endblock %}
